<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>フィボナッチ数列</title>
</head>
<body>
  <h1>数値を入力してください</h1>
  <form class="auto" action="/fib" method="get">
    <input type="number" name="num" placeholder="入力してください">
    <button type="submit">送信</button>
  </form>
</body>
</html>
